<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola <%= @user.name %></h1>
    <hr>
    <h2>Se ha editado tu Campaña: <%= @campaign.title %> </h2>
    
    <p> <b>ID de la campaña: </b> <%= @campaign.id %></p> 
    <p> <b>Reseña: </b> <%= @campaign.review %></p>
    <p> <b>Comentario: </b> <%= @campaign.message %></p> 
    <p> <b>Meta: </b> <%= @campaign.goal %></p> 
    <p> <b>Categoria: </b> <%= @campaign.category %></p> 

    <hr>
    <p>Eso es todo por ahora, Que tengas un excelente dia</p>
  </body>
</html>