<!-- Carousel
================================================== -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag "INDEX_Carousel_4.jpg" %>
        <div class="container">
          <div class="carousel-caption">
            <h1>Haz que Suceda</h1>
            <p>Crea un nuevo usuario o Inicia Sesion con tu usuario ya existente para que puedas crear una nueva campaña y puedas: ¡Hacer que suceda!</p>
            <p><%= link_to "Iniciar Sesion", login_path, class: "btn btn-lg btn-primary"%></p>

          </div>
        </div>
      </div>
      <div class="item">
        <%= image_tag"INDEX_Carousel_1.jpg"%>
        <div class="container">
          <div class="carousel-caption">
            <h1 style="color:#151515;">Campañas Disponibles</h1>
            <p style="color:#151515;"> Navega entre las cientos o miles de campañas disponibles, recuerda que puedes elegir entre categorias para que puedas ver unicamente en la que te encuentras interesado.</p>
            <p><%= link_to "Ver Campañas", campaigns_path, class: "btn btn-lg btn-primary"%></p>
          </div>
        </div>
      </div>
      <div class="item">
        <%= image_tag "INDEX_Carousel_2.jpg" %>
        <div class="container">
          <div class="carousel-caption">
            <h1>Contactanos</h1>
            <p>Ponte en contacto con nosotros, En caso de que tengas algun problema o simplemente tienes una sugerencia para hacer de esta pagina un mejor lugar para tus campañas</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Contactanos</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="fa fa-angle-double-left" aria-hidden="true"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="fa fa-angle-double-right" aria-hidden="true"></span>
    </a>
  </div><!-- /.carousel -->

<!-- Proyecto Destacado y Categorias
================================================== -->
  <h1> Proyecto que mas gustan: </h1>
  <div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 ">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">

        <div class="container-fluid">
          <div class="row">
              <div class="verticalLine">
              <ul class="nav nav-sidebar">
                <li>
                  <%= link_to campaigns_path do %>
                  <span class="fa fa-asterisk "></span> 
                    - Todas
                  <% end %>
                </li>
                <li>
                  <%= link_to category_animales_path do %>
                  <span class="fa fa-linux"></span> 
                    - Animales
                  <% end %>
                </li>
                <li>
                  <%= link_to category_caridades_path do %>
                  <span class="fa fa-bullhorn "></span> 
                    - Caridad
                  <% end %>
                </li>
                <li>
                  <%= link_to category_deportes_path do %>
                  <span class="fa fa-futbol-o"></span> 
                    - Deportes
                  <% end %>
                </li>
                <li>
                  <%= link_to category_medicas_path do %>
                  <span class="fa fa-heartbeat"></span> 
                    - Medicas
                  <% end %>
                </li>
                <li>
                  <%= link_to category_negocios_path do %>
                  <span class="fa fa-suitcase"></span> 
                    - Negocios
                  <% end %>
                </li>
                </ul>
                </div>  
            </div>
          </div>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <div class="row">
      <div class="col-lg-4 ">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 ">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div>
